---
layout: base
title: Arcton
short_title: Arcton
---
<div class="page page--dark">
  <div class="hero">
    <h1 class="hero__title">Arcton</h1>
  </div>

  <main class="main main--nested">
    <p class="intro-text intro-text--blurb">
      Excepturi voluptas illum et non quia voluptatibus rem vel. Fuga nostrum voluptatem in. Magnam molestias non omnis asperiores autem. Sit recusandae vero consequatur sed maiores suscipit repellat. Eveniet eaque nulla necessitatibus voluptates similique. Et officiis eos cum quaerat architecto et.
    </p>

    <p class="intro-text">
      Totam aut iure quia minus nihil ratione.
    </p>

    <div class="section">
      <div class="page-box page-box--dark">
        Magnam harum provident aut eos non vel. Aut qui aut quasi laborum nesciunt est earum. Nihil provident voluptas id est corporis fugit explicabo perspiciatis.
      </div>
    </div>

    <div class="section">
      <h2 class="heading-secondary">Here's some of the stuff we've been up to</h2>

      <div class="features-container">
        {% for collection in site.collections %}
          {% assign pages = collection.docs | sort: "circa" %}
          {% for page in pages reversed%}
            {% if page.featured %}
              <a href="{{page.url}}" class="feature">
                <img class="feature__image" src="{{page.main_image}}" />

                <div class="feature__text-content">
                  {% if page.subtitle %}<span class="feature__subtitle">{{page.subtitle}}</span>{% endif %}
                  <span class="feature__title">{{page.short_title}}</span>
                </div>
              </a>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
    </div>

    <div class="section">
      <h2 class="heading-secondary">Wanna chat?</h2>
      <div class="page-box">

      </div>
    </div>
  </main>
</div>
