<div class="mobile-menu">
    <div>
      <div>
        <ul class="mobile-menu_list">
        <li class="mobile-menu_layer1">
		  <a href="#"><i class="fa fa-home"></i> Home</a>
		</li>
		<li class="mobile-menu_layer1">
		  <a href="#"><i class="fa fa-folder-open"></i> Projects</a>
		</li>
		<li class="mobile-menu_layer1">
		  <a href="#"><i class="fa fa-trophy"></i> Competitions</a>
		</li>
		<li class="mobile-menu_layer1">
		  <a href="#"><i class="fa fa-gamepad"></i> eSports</a>
		  <ul class="submenu">
			<li class="mobile-menu_layer2"><a href="#0">&nbsp;<i class="fa fa-caret-right"></i> Counter-Strike: Global Offensive</a></li>
			<li class="mobile-menu_layer2"><a href="#0">&nbsp;<i class="fa fa-caret-right"></i> Awesomenauts</a></li>
			<li class="mobile-menu_layer2"><a href="#0">&nbsp;<i class="fa fa-caret-right"></i> Stepmania</a></li>
		  </ul>
		</li>
        </ul>
      </div>
    </div>
  </div>