<div class="mobile-menu">
    <div>
      <div>
        <ul class="mobile-menu_list">
        <li class="mobile-menu_layer1">
		  <a href="#"><i class="fa fa-home"></i> Home</a>
		</li>
		<li class="mobile-menu_layer1">
		  <a href="#"><i class="fa fa-folder-open"></i> Projects</a>
		</li>
		<li class="mobile-menu_layer1">
		  <a href="#"><i class="fa fa-trophy"></i> Competitions</a>
		   <ul class="submenu">
			<li class="mobile-menu_layer2"><a href="#0">&nbsp;<i class="fa fa-caret-right"></i> GovHack NZ 2016</a></li>
			<li class="mobile-menu_layer2"><a href="#0">&nbsp;<i class="fa fa-caret-right"></i> NZ Cyber Security Challenge 2016</a></li>
			<li class="mobile-menu_layer2"><a href="#0">&nbsp;<i class="fa fa-caret-right"></i> GovHack NZ 2015</a></li>
			<li class="mobile-menu_layer2"><a href="#0">&nbsp;<i class="fa fa-caret-right"></i> NZ Programming Contest 2015</a></li>
		  </ul>  
		</li>
		<li class="mobile-menu_layer1">
		  <a href="#"><i class="fa fa-gamepad"></i> eSports</a>
		</li>
        </ul>
      </div>
    </div>
  </div>