<nav id="nav" class="fd">
  <ul id="main-menu">
    <li>
      <a href="#"><i class="fa fa-home"></i> Home</a>
    </li>
    <li>
      <a href="#"><i class="fa fa-folder-open"></i> Projects <i class="fa fa-caret-down"></i></a>
        <ul class="submenu">
        <li><a href="#0">Locatio</a></li>
        <li><a href="#0">NautDrafter</a></li>
        <li><a href="#0">Red Peak-ify</a></li>
      </ul>  
    </li>
    <li>
      <a href="#"><i class="fa fa-trophy"></i> Competitions <i class="fa fa-caret-down"></i></a>
       <ul class="submenu">
        <li><a href="#0">GovHack NZ 2016</a></li>
        <li><a href="#0">NZ Cyber Security Challenge 2016</a></li>
        <li><a href="#0">GovHack NZ 2015</a></li>
        <li><a href="#0">NZ Programming Contest 2015</a></li>
      </ul>  
    </li>
    <li>
      <a href="#"><i class="fa fa-gamepad"></i> eSports <i class="fa fa-caret-down"></i></a>
       <ul class="submenu">
        <li><a href="#0">Counter-Strike: Global Offensive</a></li>
        <li><a href="#0">Awesomenauts</a></li>
        <li><a href="#0">Stepmania</a></li>
      </ul>  
    </li>
  </ul>
</nav>  