<div class="mobile-menu">
    <div>
      <div>
        <ul class="mobile-menu_list">
        <li class="mobile-menu_layer1">
		  <a href="#"><i class="fa fa-home"></i> Home</a>
		</li>
		<li class="mobile-menu_layer1">
		  <a href="#"><i class="fa fa-folder-open"></i> Projects</a>
		</li>
		<li class="mobile-menu_layer1">
		  <a href="#"><i class="fa fa-trophy"></i> Competitions</a> 
		</li>
		<li class="mobile-menu_layer1">
		  <a href="#"><i class="fa fa-gamepad"></i> eSports</a>
		</li>
        </ul>
      </div>
    </div>
  </div>