<nav id="nav" class="fd">
  <ul id="main-menu">
    <li>
      <a href="#"><i class="fa fa-home"></i> Home</a>
    </li>
    {% assign collections = site.collections | sort: "menu_order" %}
    {% for collection in collections %}
      {% assign menu_order = collection.menu_order | to_integer %}
      {% if menu_order <= 0 %}
        {% continue %}
      {% endif %}
      <li>
        <a href="#"><i class="fa fa-folder-open"></i>{{collection.display}}<i class="fa fa-caret-down"></i></a>
        <ul class="submenu">
          {% assign pages = collection.docs | sort: "circa" %}
          {% for page in pages reversed%}
          <li><a href="{{page.url}}">{{page.title}}</a></li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</nav>  
