<div class="mobile-menu">
    <div>
      <div>
        <ul class="mobile-menu_list">
          <li class="mobile-menu_layer1">
            <a href="#"><i class="fa fa-home"></i> Home</a>
          </li>
          {% assign collections = site.collections | sort: "menu_order" %}
          {% for collection in collections %}
            {% assign menu_order = collection.menu_order | to_integer %}
            {% if menu_order <= 0 %}
              {% continue %}
            {% endif %}
            <li class="mobile-menu_layer1">
              <a href="#"><i class="fa fa-{{collection.icon}}"></i>&nbsp;{{collection.display}}</a>
              {% if page.collection == collection.label %}
                <ul class="submenu">
                  {% assign pages = collection.docs | sort: "circa" %}
                  {% for page in pages reversed%}
                  <li class="mobile-menu_layer2"><a href="{{page.url}}">&nbsp;<i class="fa fa-caret-right"></i> {% if page.medium_title %}{{page.medium_title}}{% else %}{{page.title}}{% endif %}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
