body {
  font-family: "Raleway";
  font-weight: $font-weight-base;
  color: $col-primary;
  background: #f0f0f0;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

p:not(:last-child) {
  margin-bottom: 1em;
}

a {
  color: $col-secondary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
