$font-weight-light: 300;
$font-weight-base: 400;
$font-weight-bold: 600;
$font-weight-extabold: 800;

$gutter: 20px;
$header-height: 65px;

$break-s: 400px;
$break-m: 800px;

$col-primary: #2d3f51;
$col-secondary: #16A085;
$col-fg-light: #F5F5F5;
$col-fg-dark: black;

$col-bg-dark: #25193c;
$col-bg-darker: darken($col-bg-dark, 10%);

$radius-medium: 5px;

$transition-normal: 0.2s;
