.nav-toggle {
  $el: &;
  $ham-height: 2px;

  &__input,
  &__label {
    display: none;
  }

  @media(max-width: $break-m) {
    &__input {
      display: none;
    }

    &__label {
      $line-top-y: ($header-height / 3) - ($ham-height / 2);
      $line-bottom-y: ($header-height / 1.5) - ($ham-height / 2);
      display: block;
      position: absolute;
      z-index: 1;
      width: $header-height;
      height: $header-height;

      &:before,
      &:after {
        content: '';
        width: 50%;
        height: $ham-height;
        position: absolute;
        left: 25%;
        border-radius: 1px;
        background: $col-fg-light;
        transform-origin: center center;
        transition: transform 0.5s, top 0.5s, box-shadow 0.2s;
      }

      &:before {
        top: $line-top-y;
        box-shadow: 0 ($line-bottom-y - $line-top-y)/2 0 $col-fg-light;
      }

      &:after {
        top: $line-bottom-y;
      }
    }

    &__input:checked {
      & + #{$el}__label {
        position: fixed;
        top: 0;

        &:before {
          top: ($header-height / 2) - ($ham-height / 2);
          transform: rotate(135deg);
          box-shadow: none;
        }

        &:after {
          top: ($header-height / 2) - ($ham-height / 2);
          transform: rotate(225deg);
        }
      }

      // Show the nav
      & ~ .header {
        .nav {
          display: flex;
          position: fixed;
        }
      }

      // Hide the content (to prevent page scrolling)
      & ~ .main {
        display: none;
      }
    }
  }
}
