.page-box {
  $el: &;

  margin-bottom: 20px;
  padding: 20px;
  background: #FFF;
  border-radius: $radius-medium;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  line-height: 1.6;
  color: $col-fg-dark;

  &--info {
    text-align: center;

    #{$el}__heading {
      font-weight: $font-weight-extabold;
      text-transform: uppercase;
      margin-bottom: 1em;
    }
  }

  &--title {
    padding-top: 30px;
    padding-bottom: 30px;

    #{$el}__heading {
      font-weight: $font-weight-extabold;
      font-size: 2em;
      line-height: 1;
    }

    #{$el}__subheading {
      font-size: 1.4em;
      margin-top: 1em;
    }
  }

  &--dark {
    background-color: $col-bg-darker;
    color: $col-fg-light;
  }
}
