.project-links {
  font-size: 1.3em;

  &__link {
    display: block;
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0.5em;
    }
  }

  img {
    max-width: 50%;
    max-height: 200px;
  }
}
