---
layout: base
---
<div class="page-main">
  <div class="page-box page-box--title">
    <h1 class="page-box__heading">{{ page.title }}</h1>
    <h2 class="page-box__subheading">{{ page.participants }}</h2>
  </div>
  <div class="content-wrapper">
    <div class="content page-box">
      {{ content }}
    </div>
    <div class="sidebar">
      {% if page.projectlinks %}
      <div class="page-box page-box--info">
        <h3 class="page-box__heading">Project Links</h3>
        <div class="project-links">
          {% for link in page.projectlinks %}
          <a href="{{ link.url }}" class="project-links__link"><img src="{{ link.logo }}" alt="{{ link.name }}"></a>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% if page.photos %}
      <div class="page-box page-box--info">
        <h3 class="page-box__heading">Event Photos</h3>
          <div class="photo-container">
            {% for pic in page.photos %}
            <img class="photo" src="{{ pic.url }}" alt="{{ pic.captain }}">
            {% endfor %}
          </div>
      </div>
      {% endif %}
      {% if page.screenshots %}
      <div class="page-box page-box--info">
        <h3 class="page-box__heading">Screenshots</h3>
          <div class="photo-container">
            {% for pic in page.screenshots %}
            <img class="photo" src="{{ pic.url }}" alt="{{ pic.captain }}">
            {% endfor %}
          </div>
      </div>
      {% endif %}
      {% if page.media %}
      <div class="page-box page-box--info">
        <h3 class="page-box__heading">In the Media</h3>
        <div class="project-links">
          {% for link in page.media %}
          <a href="{{ link.url }}" class="project-links__link"><img src="{{ link.logo }}" alt="{{ link.name }}"></a>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
